<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="登録">
    </form>

        <a href="create">追加</a>
        {{ item_count }}
        <h1>{{title}}</h1>
        {% for item in item_list %}
            [{{ item.id }}]{{ item.created_at }}:{{ item.name }}<br>
        {% endfor %}
        
        カテゴリ<br>
        {% for cate in cate_list %}
            {{cate.title}}<br>
        {% endfor %}
</body>
</html>
