{% extends 'process/base.html' %}

{% block body %}
{% load static %}
<!-- <a href="{% url 'uketuke' %}" class="btn btn-info">受付入力</a>
<a href="{% url 'kiridasi' %}"  class="btn btn-info">切り出し入力</a>
<a href="{% url 'houmai' %}"  class="btn btn-info">包埋入力</a>
<a href="{% url 'teisyutu' %}"  class="btn btn-info">提出入力</a> -->
<a href="{% url 'sindan' %}"  class="btn btn-info"><i class="fas fa-check-circle"></i> 診断済み入力</a>
<a href="{% url 'process_list' %}"  class="btn btn-info"><i class="fas fa-list"></i> 一覧表示</a>
<div class="col-12 clearfix">
        <div class="float-right">
                <form action="{% url 'process_find' %}" method="POST"  name="bango_form">
                        {% csrf_token %}
                        <i class="fas fa-search"></i>
                        <input type="text" name="bango">
                        <input type="submit" value="検索">
                </form>
        </div>
</div>

<div class="row">
<!-- chart.jsグラフ -->
        <!-- <canvas id="myChart" height="30"></canvas> -->
        <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['受付済', '切り出し済', '包埋済', '提出済'],
                datasets: [{
                    labels: ['生検','OP'],
                    data: [
                    {{ uketuke_data_count }},
                    {{ kiridasi_data_count }},
                    {{ houmai_data_count }},
                    {{ teisyutu_data_count }},
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        </script>

<!-- QRコード表示 -->
<!-- <img src="{% static 'process/img/qr_code.png' %}" /> -->

<canvas id="myChart2" height="30"></canvas>
<script>
var ctx = document.getElementById('myChart2').getContext('2d');
var chart = new Chart(ctx, {
  type: "bar",
  data:{
    labels:['受付済', '切り出し済', '包埋済', '提出済'],
    datasets:[{
        label:'OP',
      data:[
          {{uketuke_op_count}},
          {{kiridasi_op_count}},
          {{houmai_op_count}},
          {{teisyutu_op_count}}
          ],
      backgroundColor: "rgba(255, 99, 132, 0.3)",
      borderColor: 'rgba(255, 99, 132, 1)',
      borderWidth: 1
    },
    {
        label:'生検',
      data:[
          {{uketuke_biopsy_count}},
          {{kiridasi_biopsy_count}},
          {{houmai_biopsy_count}},
          {{teisyutu_biopsy_count}}
          ],
      backgroundColor: "rgba(54, 162, 235, 0.3)",
      borderColor: 'rgba(54, 162, 235, 1)',
      borderWidth: 1
    }]
  },
  options:{
    scales:{
      xAxes:[{
        stacked: true
      }],
      yAxes:[{
        stacked: true
      }]
    }
  }
});
</script>

<div class="col-lg-3">
    <h2><i class="fas fa-pencil-alt"></i> 受付済 {{ uketuke_data_count }}件(B:{{ uketuke_biopsy_count }} O:{{ uketuke_op_count }}) 
    </h2> 
        <!-- <a href="{% url 'uketuke' %}" class="btn btn-info">受付入力</a> -->
        <a href="{% url 'uketuke_bio' %}" class="btn btn-primary">生検受付</a>
        <a href="{% url 'uketuke_op' %}" class="btn btn-success">OP受付</a>
        <a href="{% url 'uketuke_opLN' %}" class="btn btn-warning">OPと<i class="far fa-lemon"></i>LN受付</a>

<table  class="table table-striped">
<thead>
    <!-- <th>ステイタス</th> -->
    <th>標本番号</th>
    <th>採取</th>
    <th>材料</th>
    <th>受付日時</th>
    <th>日数</th>
    <th>コメント</th>
</thead>
{% for process in uketuke_data %}
<tr
{% if process.sikyu %}
    class="p-3 mb-2 bg-danger"
{% endif %}
>
    <!-- <td>{{process.status}}</td> -->
    <td><a href="{% url 'process_detail' process.id %}" >{{process.bango}}</a></td>
    <td>
        {% if process.saisyu == '手術' %}
            <i class="fas fa-utensils"></i>
        {% endif %}
        {{process.saisyu|default_if_none:""}}</td>
    <td>{{process.zairyou|default_if_none:""}}</td>
    <td>{{process.uketuke_at | date:"m/j(D) H:i "}}</td>
    <td><span class="badge badge-pill badge-info">{{process.diff}}</span></td>
    <td>{{process.comment|default_if_none:"" | truncatechars:10 }}</td>

</tr>
{% endfor %}
</table>
</div>
    
<div class="col-lg-3">
        <h2><i class="fas fa-utensils"></i> 切り出し済 {{ kiridasi_data_count }}件(B:{{ kiridasi_biopsy_count }} O:{{ kiridasi_op_count }})  
        </h2>
        <a href="{% url 'kiridasi' %}"  class="btn btn-info">切り出し入力</a>
        <a href="{% url 'kiridasi_LN' %}"  class="btn btn-warning"><i class="far fa-lemon"></i>リンパ節切り出し入力</a>
        <a href="{% url 'kiridasi_copy' %}"  class="btn btn-success"><i class="far fa-copy"></i>分割</a>

<table class="table table-striped">
        <thead>
            <!-- <th>ステイタス</th> -->
            <th>標本番号</th>
            <th>採取</th>
            <th>材料</th>
            <th>受付日時</th>
            <th>日数</th>
            <th>コメント</th>
        </thead>
        {% for process in kiridasi_data %}
        <tr
        {% if process.sikyu %}
            class="p-3 mb-2 bg-danger"
        {% endif %}
        >
            <!-- <td>{{process.status}}</td> -->
            <td><a href="{% url 'process_detail' process.id %}" >{{process.bango}}</a></td>
            <td>
                {% if process.saisyu == '手術' %}
                    <i class="fas fa-utensils"></i>
                {% endif %}
                {{process.saisyu|default_if_none:""}}</td>
            <td>{{process.zairyou|default_if_none:""}}</td>
            <td>{{process.uketuke_at | date:"m/j(D) H:i"}}</td>
            <td><span class="badge badge-pill badge-info">{{process.diff}}</span></td>
            <td>{{process.comment|default_if_none:"" | truncatechars:10 }}</td>
        </tr>
        {% endfor %}
</table>
</div>

<div class="col-lg-3">
        <h2><i class="fas fa-cubes"></i> 包埋済 {{ houmai_data_count }}件(B:{{ houmai_biopsy_count }} O:{{ houmai_op_count }})  
        </h2>
        <a href="{% url 'houmai' %}"  class="btn btn-info">包埋入力</a>
        <a href="{% url 'houmai_LN' %}"  class="btn btn-warning"><i class="far fa-lemon"></i>リンパ節包埋入力</a>

<table class="table table-striped">
        <thead>
            <!-- <th>ステイタス</th> -->
            <th>標本番号</th>
            <th>採取</th>
            <th>材料</th>
            <th>受付日時</th>
            <th>日数</th>
            <th>コメント</th>
        </thead>
        {% for process in houmai_data %}
        <tr
        {% if process.sikyu %}
            class="p-3 mb-2 bg-danger"
        {% endif %}
        >
            <!-- <td>{{process.status}}</td> -->
            <td><a href="{% url 'process_detail' process.id %}" >{{process.bango}}</a></td>
            <td>
                {% if process.saisyu == '手術' %}
                    <i class="fas fa-utensils"></i>
                {% endif %}
                {{process.saisyu|default_if_none:""}}</td>
            <td>{{process.zairyou|default_if_none:""}}</td>
            <td>{{process.uketuke_at | date:"m/j(D) H:i"}}</td>
            <td><span class="badge badge-pill badge-info">{{process.diff}}</span></td>
            <td>{{process.comment|default_if_none:"" | truncatechars:10 }}</td>
        </tr>
        {% endfor %}
</table>
</div>

<div class="col-lg-3">
        <h2><i class="fas fa-microscope"></i> 提出済 {{ teisyutu_data_count }}件(B:{{ teisyutu_biopsy_count }} O:{{ teisyutu_op_count }})  
        </h2>
        <a href="{% url 'process_teisyutu' %}"  class="btn btn-info">提出入力</a>
<table class="table table-striped">
        <thead>
            <!-- <th>ステイタス</th> -->
            <th>標本番号</th>
            <th>採取</th>
            <th>材料</th>
            <th>受付日時</th>
            <th>日数</th>
            <th>コメント</th>
        </thead>
        {% for process in teisyutu_data %}
        <tr
        {% if process.sikyu %}
            class="p-3 mb-2 bg-danger"
        {% endif %}
        >
            <!-- <td>{{process.status}}</td> -->
            <td><a href="{% url 'process_detail' process.id %}" >{{process.bango}}</a></td>
            <td>
                {% if process.saisyu == '手術' %}
                    <i class="fas fa-utensils"></i>
                {% endif %}
                {{process.saisyu|default_if_none:""}}</td>
            <td>{{process.zairyou|default_if_none:""}}</td>
            <td>{{process.uketuke_at | date:"m/j(D) H:i"}}</td>
            <td><span class="badge badge-pill badge-info">{{process.diff}}</span></td>
            <td>{{process.comment|default_if_none:"" | truncatechars:10 }}</td>
        </tr>
        {% endfor %}
</table>
</div>


</div>
{% endblock %}