{% extends 'process/base.html'%}
{% block body %}

<a href="{% url 'index' %}">戻る</a>
{{data}}
分割する標本番号を読ませる
<form action="{% url 'kiridasi_copy' %}" method="POST"  name="bango_form">
    {% csrf_token %}
    {{ BangoForm.as_p}}
    <p><input type="submit" value="登録"  class="btn btn-info"></p>
</form>

{% comment %} <table>
<thead>
    <th>ステイタス</th>
    <th>標本番号</th>
    <th>日時</th>
    <th>コメント</th>
</thead>
{% for process in uketuke_data %}
<tr>
    <td>{{process.status}}</td>
    <td>{{process.bango}}</td>
    <td>{{process.uketuke_at}}</td>
    <td>{{process.comment}}</td>
</tr>
{% endfor %}
</table> {% endcomment %}

<div class="row">
        <div class="col-lg-6">
<h2>今日の切り出し登録数：{{today_data_count}}件</h2>

<table  class="table table-striped">
        <thead>
            <!-- <th>ステイタス</th> -->
            <th>標本番号</th>
            <th>日時</th>
            <th>コメント</th>
        </thead>
        {% for process in today_data %}
        <tr>
            <!-- <td>{{process.status}}</td> -->
            <td>{{process.bango}}</td>
            <td>{{process.kiridasi_at | date:"m/j(D) H:i"}}</td>
            <td>{{process.comment}}</td>
        </tr>
        {% endfor %}
</table>
</div>
<div class="col-lg-6">
<h2>受付データ数：{{pre_data_count}}件</h2>

<table  class="table table-striped">
        <thead>
            <!-- <th>ステイタス</th> -->
            <th>標本番号</th>
            <th>日時</th>
            <th>コメント</th>
        </thead>
        {% for process in pre_data %}
        <tr>
            <!-- <td>{{process.status}}</td> -->
            <td>{{process.bango}}</td>
            <td>{{process.uketuke_at | date:"m/j(D) H:i"}}</td>
            <td>{{process.comment}}</td>
        </tr>
        {% endfor %}
</table>
</div>
</div>
{% endblock %}