{% extends 'process/base.html'%}
{% block body %}
<h1>標本リスト</h1>
<a href="{% url 'process_index' %}">戻る</a>
    <form action="{% url 'process_find' %}" method="POST"  name="bango_form">
            {% csrf_token %}
            <i class="fas fa-search"></i>
            <input type="text" name="bango">
            <input type="submit" value="検索">
    </form>

<div class="row">
        {% comment %} <div class="col-lg-6">
<h2>今日の提出登録数：{{today_data_count}}件</h2>

<table  class="table table-striped">
        <thead>
            <!-- <th>ステイタス</th> -->
            <th>標本番号</th>
            <th>日時</th>
        </thead>
        {% for process in today_data %}
        <tr>
            <!-- <td>{{process.status}}</td> -->
            <td>{{process.bango}}</td>
            <td>{{process.sindan_at | date:"m/j(D) H:i"}}</td>
        </tr>
        {% endfor %}
</table>
</div> {% endcomment %}
<div class="col-lg-12">
{% comment %} <h2>提出データ数：{{pre_data_count}}件</h2> {% endcomment %}

<table  class="table table-striped">
<thead>
    <th>標本番号</th>
    <th>ステイタス</th>
    <th>採取</th>
    <th>材料</th>
    <th>受付日時</th>
    <th>切り出し日時</th>
    <th>包埋日時</th>
    <th>提出日時</th>
    <th>診断日時</th>
    <th>TAT</th>
    <th>コメント</th>
</thead>
        {% for process in data %}
        <tr>
            <td>{{process.bango}}</td>
            <td>{{process.status}}</td>
            <td>{{process.saisyu}}</td>
            <td>{{process.zairyou}}</td>
            <td>{{process.uketuke_at | date:"m/j(D) H:i"}}</td>
            <td>{{process.kiridasi_at | date:"m/j(D) H:i"}}</td>
            <td>{{process.houmai_at | date:"m/j(D) H:i"}}</td>
            <td>{{process.teisyutu_at | date:"m/j(D) H:i"}}</td>
            <td>{{process.sindan_at | date:"m/j(D) H:i"}}</td>
            <td>{{process.tat_diff}}</td>
            <td>{{process.comment}}</td>
        </tr>
        {% endfor %}
</table>
</div>
</div>
{% endblock %}