{% extends 'process/base.html'%}
{% block body %}
<h1><i class="fas fa-microscope"></i> 提出終了</h1>
<a href="{% url 'index' %}">戻る</a>
{{data}}
<form action="{% url 'process_teisyutu' %}" method="POST"  name="bango_form">
    {% csrf_token %}
    {{ BangoForm.as_p}}
    <p><input type="submit" value="登録"  class="btn btn-info"></p>
</form>

<div class="row">
        <div class="col-lg-6">
<h2>今日の提出登録数：{{today_data_count}}件</h2>

<table  class="table table-striped">
        <thead>
            <!-- <th>ステイタス</th> -->
            <th>標本番号</th>
            <th>日時</th>
        </thead>
        {% for process in today_data %}
        <tr>
            <!-- <td>{{process.status}}</td> -->
            <td>{{process.bango}}</td>
            <td>{{process.teisyutu_at | date:"m/j(D) H:i"}}</td>
        </tr>
        {% endfor %}
</table>
</div>
<div class="col-lg-6">
<h2>包埋済データ数：{{pre_data_count}}件</h2>

<table  class="table table-striped">
        <thead>
            <!-- <th>ステイタス</th> -->
            <th>標本番号</th>
            <th>包埋日時</th>
        </thead>
        {% for process in pre_data %}
        <tr>
            <!-- <td>{{process.status}}</td> -->
            <td>{{process.bango}}</td>
            <td>{{process.houmai_at | date:"m/j(D) H:i"}}</td>
        </tr>
        {% endfor %}
</table>
</div>
</div>
{% endblock %}