{% extends 'process/base.html'%}
{% block body %}
<a href="{% url 'index' %}">戻る</a>
<!-- <p>{{data}}</p> -->
<form action="{% url 'uketuke' %}" method="POST" name="bango_form">
    {% csrf_token %}
    {{ UketukeForm.as_p}}
    <p><input type="submit" value="登録" class="btn btn-info"></p>
</form>
<h2>今日の登録数：{{today_uketuke_data_count}}件</h2>

<table  class="table table-striped">
        <thead>
            <!-- <th>ステイタス</th> -->
            <th>標本番号</th>
            <th>日時</th>
        </thead>
        {% for process in today_uketuke_data %}
        <tr>
            <!-- <td>{{process.status}}</td> -->
            <td>{{process.bango}}</td>
            <td>{{process.uketuke_at | date:"m/j H:i"}}</td>
        </tr>
        {% endfor %}
</table>
{% endblock %}
