{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'formalin/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'formalin/css/style.css' %}" >
    {% comment %} iconicのサイトのアイコン {% endcomment %}
    <!-- Chart.jsを読み込む -->
    <script type="text/javascript" src="{% static 'formalin/js/chartjs/Chart.min.js' %}"></script>

    <link rel="stylesheet" type="text/css"  href="{% static 'formalin/font/css/open-iconic-bootstrap.css' %}">
    <script defer src="{% static 'formalin/js/all.js' %}"></script>
    <meta http-equiv="refresh" content="1200" >
    <title>ホルマリン管理システム</title>
</head>
<body onload="document.bango_form.bango.focus()">

<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">
    {% comment %} <img src="{% static 'formalin/img/top-icon.svg' %}" width="50" height="50" class="d-inline-block align-top" alt=""> {% endcomment %}
    <i class="far fa-clipboard"></i> ホルマリン管理システム

<span id="time"></span>
    <script>
    time();
    function time(){
        var now = new Date();
        document.getElementById("time").innerHTML = now.toLocaleString();
    }
    setInterval('time()',1000);
    </script>
      </a>
    {% comment %} ２分ごとに自動更新中 {% endcomment %}
<a href="{% url 'list' %}" class="btn btn-lg btn-warning"><i class="far fa-list-alt"></i> 容器リスト</a>

</nav>

    <div class="container-fluid m-2">
    
{% block body %}
{% endblock %}

</div>

<footer class="footer">
    <p class="text-muted"></p>
</footer>


</body>
</html>