{% extends 'formalin/base.html'%}
{% block body %}

<a href="{% url 'index' %}">戻る</a>
{{data}}

<form action="{% url 'detail' id  %}" method="POST"  name="detail_form">
    {% csrf_token %}
    {{ DetailForm.as_p}} 
    <p><input type="submit" value="登録"  class="btn btn-info"></p>
</form>

{% endblock %}
