{% extends 'formalin/base.html' %}

{% block body %}
{% load static %}

<h1>払い出し処理</h1>
<h2>払い出し部署：{{busyo}}</h2>

バーコードを読ませる
<form action="{% url 'haraidasi'%}" method="POST" name="bango_form">
    {% csrf_token %}
    <input type="text" id="bango" name="bango">
    <input type="submit">
</form>

<div class="row">
        <div class="col-lg-6">
<h2>払い出し済</h2>
今の払い出し　{{ima_haraidasi_data.count}}個
トータル払い出し　{{haraidasi_data_count}}個
<table  class="table table-striped">
        <thead>
            <!-- <th>ステイタス</th> -->
            <th>番号</th>
            <th>ステイタス</th>
            <th>払い出し先</th>
            <th>払い出し日時</th>
            <th>使用期限</th>
        </thead>
        {% for formalin in ima_haraidasi_data %}
        <tr>
            <!-- <td>{{process.status}}</td> -->
            <td>{{formalin.bango}}</td>
            <td>{{formalin.status}}</td>
            <td>{{formalin.haraidasi}}</td>   
            <td>{{formalin.haraidasi_at | date:"m/j H:i"}}</td>
            <td>{{formalin.kigen_at}}</td>   

        </tr>
        {% endfor %}
</table>
</div>

<div class="col-lg-6">
<h2>入庫済</h2>
<table  class="table table-striped">
        <thead>
            <!-- <th>ステイタス</th> -->
            <th>番号</th>
            <th>ステイタス</th>
            <th>使用期限</th>
            <th>入庫日時</th>
        </thead>
        {% for formalin in nyuko_data %}
        <tr>
            <!-- <td>{{process.status}}</td> -->
            <td>{{formalin.bango}}</td>
            <td>{{formalin.status}}</td>
            <td>{{formalin.kigen_at}}</td>            
            <td>{{formalin.nyuko_at | date:"m/j H:i"}}</td>

        </tr>
        {% endfor %}
</table>
</div>
{% endblock %}