{% extends 'formalin/base.html' %}

{% block body %}
{% load static %}
<form action="{% url 'find' %}" method="POST"  name="bango_form">
        {% csrf_token %}
        <i class="fas fa-search"></i>
        <input type="text" name="bango">
        <input type="submit" value="検索">
</form>

<canvas id="myChart2" height="30"></canvas>
<script>
var ctx = document.getElementById('myChart2').getContext('2d');
var chart = new Chart(ctx, {
  type: "bar",
  data:{
    labels:['入庫済', '払い出し中'],
    datasets:[
        {
        label:'入庫済',
      data:[
          {{nyuko_data.count}},
          0,
          ],
      backgroundColor: "rgba(51, 153, 255, 0.3)",
      borderColor: 'rgba(51, 153, 255, 1)',
      borderWidth: 1
    },
    {
        label:'OP室',
      data:[
          0,
          {{op_haraidasi_data.count}},
          ],
      backgroundColor: "rgba(255, 99, 132, 0.3)",
      borderColor: 'rgba(255, 99, 132, 1)',
      borderWidth: 1
    },
    {
        label:'OP室以外',
      data:[
          0,
          {{haraidasi_data.count}}-{{op_haraidasi_data.count}},
          ],
      backgroundColor: "rgba(0, 139, 162, 0.3)",
      borderColor: 'rgba(0, 139, 162, 1)',
      borderWidth: 1
    }
]
  },
  options:{
    scales:{
      xAxes:[{
        stacked: true
      }],
      yAxes:[{
        stacked: true
      }]
    }
  }
});
</script>


<!-- <a href="http://localhost:8000/formalin/haraidasi?busyo=%E3%81%A3%E3%81%A3%E3%81%A3%E3%81%A3s">払い出し先</a> -->



        <div class="row">
            <div class="col-lg-3">
                <h1>入庫中　{{nyuko_data.count}}個</h1>
        
                <div class="card" style="width: 75%;">
                    <div class="card-header  text-white bg-primary ">
                        <h1><i class="fas fa-cube"></i> 入庫処理</h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <p>使用期限を入力して「登録」ボタンを押す</p>
                            <form action="{% url 'nyuko'%}" method="GET">
                                {% csrf_token %}
                                <input type="date" id="kigen" name="kigen">
                                <input type="submit" value="登録">
                            </form>
        
                    </div>
                </div>
                <br>
                <h3>期限切れ　{{kigengire_data.count}}個</h3>
                <table class="table table-striped table-hover">
                    <thead class="table-info">
                        <th>番号</th>
                        <th>使用期限</th>
                        <!-- <th>期限切れまで</th> -->
                        <!-- <th>入庫日時</th> -->
                    </thead>
                    {% for data in kigengire_data %}
                    <tr>
                        <td>{{data.bango}}</td>
                        <td>{{data.kigen_at | date:"Y年m月j日(D)"}}</td>
                        <!-- <td>{{data.kigen_at | timeuntil }}</td> -->
                        <!-- <td>{{data.status}}</td> -->
                        <!-- <td>{{data.nyuko_at | date:"Y年m月j日(D)"}}</td> -->
                    </tr>
                    {% endfor %}
                </table>
        
            </div>
            <div class="col-lg-4">
                <h1>払い出し中　{{haraidasi_data.count}}個　その内OPに{{op_haraidasi_data.count}}個</h1>
                <div class="card" style="width: 90%;">
                    <div class="card-header  text-white bg-info ">
                        <h1><i class="fas fa-hand-holding"></i> 払い出し処理</h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <p>払い出し部署を入力　または　下のボタンを押す</p>
                            <form action="{% url 'haraidasi'%}" method="GET">
                                {% csrf_token %}
                                <input type="text" id="busyo" name="busyo">
                                <input type="submit" value="登録">
                            </form>
                            <br>
                            <a href="http://localhost:8000/formalin/haraidasi?busyo=OP" class="btn btn-info btn-lg">OP</a>
                            <a href="http://localhost:8000/formalin/haraidasi?busyo=検査部" class="btn btn-info btn-lg">検査部</a>
                            <a href="http://localhost:8000/formalin/haraidasi?busyo=検査部" class="btn btn-info btn-lg">検査部</a>
                            <a href="http://localhost:8000/formalin/haraidasi?busyo=検査部" class="btn btn-info btn-lg">検査部</a>
        
                    </div>
                </div>
                <br>
                <h3>期限切れ　{{haraidasi_kigengire_data.count}}個</h3>
                <table class="table table-striped table-hover">
                    <thead class="table-info">
                        <th>番号</th>
                        <th>使用期限</th>
                        <th>払い出し先</th>
                        <!-- <th>入庫日時</th> -->
                    </thead>
                    {% for data in haraidasi_kigengire_data %}
                    <tr>
                        <td>{{data.bango}}</td>
                        <td>{{data.kigen_at | date:"Y年m月j日(D)"}}</td>
                        <td>{{data.haraidasi}}</td>
                        <!-- <td>{{data.nyuko_at | date:"Y年m月j日(D)"}}</td> -->
                    </tr>
                    {% endfor %}
                </table>
                <br>
                <h3>払い出し状況</h3>
                <table class="table table-striped table-hover" style="width: 40%;">
                    <thead class="table-info">
                        <th>払い出し先</th>
                        <th>払い出し個数</th>
                        <!-- <th>入庫日時</th> -->
                    </thead>
                    {% for data in haraidasi_groupby_data %}
                    <tr>
                        <td>{{data.haraidasi}}</td>
                        <td>{{data.total}}</td>
                        <!-- <td>{{data.nyuko_at | date:"Y年m月j日(D)"}}</td> -->
                    </tr>
                    {% endfor %}
                </table>
            </div>
        
            <div class="col-lg-4">
                <h1>今日の提出個数 {{today_teisyutu_data.count}}個</h1>
                <div class="card" style="width: 100%;">
                    <div class="card-header  text-white bg-success ">
                        <h1><i class="far fa-check-square"></i> 提出処理</h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <p>提出部署を入力　または　下のボタンを押す</p>
                            <form action="{% url 'teisyutu'%}" method="GET">
                                {% csrf_token %}
                                <input type="text" id="busyo" name="busyo">
                                <input type="submit" value="登録">
                            </form>
                            <br>
                            <a href="http://localhost:8000/formalin/teisyutu?busyo=OP" class="btn btn-success btn-lg">OP</a>
                            <a href="http://localhost:8000/formalin/teisyutu?busyo=検査部" class="btn btn-success btn-lg">検査部</a>
                            <a href="http://localhost:8000/formalin/teisyutu?busyo=検査部" class="btn btn-success btn-lg">検査部</a>
                            <a href="http://localhost:8000/formalin/teisyutu?busyo=検査部" class="btn btn-success btn-lg">検査部</a>
        
                    </div>
                </div>
                <br>
                <table class="table table-striped table-hover">
                    <thead class="table-info">
                        <th>提出時間</th>
                        <th>提出先</th>
                        <th>提出個数</th>
                        <!-- <th>入庫日時</th> -->
                    </thead>
                    {% for data in teisyutu_groupby_data %}
                    <tr>
                        <td>{{data.ima | truncatechars:17}}</td>
                        <td>{{data.teisyutu}}</td>
                        <td>{{data.total}}</td>
                        <!-- <td>{{data.nyuko_at | date:"Y年m月j日(D)"}}</td> -->
                    </tr>
                    {% endfor %}
                </table>
            </div>
        
        </div>
        {% endblock %}