{% extends 'formalin/base.html'%}
{% block body %}
<h1><i class="far fa-list-alt"></i> 容器リスト</h1>
{% comment %} <a href="{% url 'index' %}">戻る</a> {% endcomment %}
    <form action="{% url 'find' %}" method="POST"  name="bango_form">
            {% csrf_token %}
            <i class="fas fa-search"></i>
            <input type="text" name="bango">
            <input type="submit" value="検索">
    </form>
<br>
<div class="row">
<div class="col-lg-12">
{% comment %} <h2>提出データ数：{{pre_data_count}}件</h2> {% endcomment %}

<table  class="table table-striped table-hover">
<thead class="table-info">
    <th>番号</th>
    <th>使用期限</th>
    <th>期限切れまで</th>
    <th>ステイタス</th>
    <th>入庫日時</th>
    <th>払い出し先</th>
    <th>払い出し日時</th>
    <th>提出先</th>
    <th>提出日時</th>
    <th>コメント</th>
</thead>
        {% for data in all_data %}
        <tr>
            <td>{{data.bango}}</td>
            <td>{{data.kigen_at | date:"Y年m月j日(D)"}}</td>
            <td>{{data.kigen_at | timeuntil }}</td>
            <td>{{data.status}}</td>
            <td>{{data.nyuko_at | date:"Y年m月j日(D) H:i"}}</td>
            <td>{{data.haraidasi}}</td>
            <td>{{data.haraidasi_at | date:"Y年m月j日(D) H:i"}}</td>
            <td>{{data.teisyutu}}</td>
            <td>{{data.teisyutu_at | date:"Y年m月j日(D) H:i"}}</td>
            <td>{{data.comment}}</td>
        </tr>
        {% endfor %}
</table>
</div>
</div>
{% endblock %}