{% extends 'formalin/base.html' %}

{% block body %}
{% load static %}
{{ima}}
<h1>入庫処理</h1>
<h2>使用期限：{{kigen}}</h2>

<h3>バーコードを読ませる</h3>
<form action="{% url 'nyuko'%}" method="POST" name="bango_form">
    {% csrf_token %}
    <input type="text" id="bango" name="bango">
    <input type="submit">
</form>

<h3>一括登録　最初のバーコードと最後のバーコード番号を入れる（必ず連番で！）</h3>
<form action="{% url 'nyuko_ikkatu'%}" method="POST" name="form">
    {% csrf_token %}
    最初：<input type="text" id="bango_start" name="bango_start">
    最後：<input type="text" id="bango_end" name="bango_end">
    <input type="submit" value="登録">
</form>

<div class="row">
        <div class="col-lg-6">
        {{ima_nyuko_data.count}}
<table  class="table table-striped">
        <thead>
            <!-- <th>ステイタス</th> -->
            <th>番号</th>
            <th>ステイタス</th>
            <th>使用期限</th>
            <th>入庫日時</th>
        </thead>
        {% for formalin in ima_nyuko_data %}
        <tr>
            <!-- <td>{{process.status}}</td> -->
            <td>{{formalin.bango}}</td>
            <td>{{formalin.status}}</td>
            <td>{{formalin.kigen_at}}</td>            
            <td>{{formalin.nyuko_at | date:"m/j H:i"}}</td>

        </tr>
        {% endfor %}
</table>
</div>

        <div class="col-lg-6">
{{nyuko_data.count}}
<table  class="table table-striped">
        <thead>
            <!-- <th>ステイタス</th> -->
            <th>番号</th>
            <th>ステイタス</th>
            <th>使用期限</th>
            <th>入庫日時</th>
        </thead>
        {% for formalin in nyuko_data %}
        <tr>
            <!-- <td>{{process.status}}</td> -->
            <td>{{formalin.bango}}</td>
            <td>{{formalin.status}}</td>
            <td>{{formalin.kigen_at}}</td>            
            <td>{{formalin.nyuko_at | date:"m/j H:i"}}</td>

        </tr>
        {% endfor %}
</table>
</div>

</div>

{% endblock %}