{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'kirokubo/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'kirokubo/css/style.css' %}" >
    {% comment %} iconicのサイトのアイコン {% endcomment %}
    <link rel="stylesheet" type="text/css"  href="{% static 'kirokubo/font/css/open-iconic-bootstrap.css' %}">
    <title>KIROKUBO</title>
</head>
<body>


<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'kirokubo_index' %}">
    {% comment %} <img src="{% static 'kirokubo/img/top-icon.svg' %}" width="50" height="50" class="d-inline-block align-top" alt=""> {% endcomment %}
    <span class="oi oi-book"></span>KIROKUBO
  </a>
</nav>

    <div class="container-fluid m-3">
{% block body %}
{% endblock %}

</div>

<footer class="footer">
    <p class="text-muted">病理検査室</p>
</footer>


</body>
</html>