{% extends 'kirokubo/base.html' %}

{% block body %}
    <script>
    function setValue(idname){
      var obj = document.getElementById(idname);
      var now = new Date().toLocaleString();
      obj.value = now.split('/').join('-');
    }
    </script>

    <h1>編集</h1>
    
    {{message}}
   <div class="card">
  <div class="card-header">
    編集画面
  </div>
  <div class="card-body">
    <form action="{% url 'kirokubo_edit' id %}" method="POST">
    {% comment %} <input type="button" value="ボタン" onclick="setValue('endbox');"> {% endcomment %}
    <p><input type="submit" value="登録" style="font-size:80px" class="btn btn-primary btn-lg btn-block"></p>
        {% csrf_token %}
        {{form.as_p}}
        <p><input type="button" value="終了時刻を現在時刻にする" onclick="setValue('endbox');" class="btn  btn-info btn-lg"></p>
        <p><input type="submit" value="登録" style="font-size:140px" class="btn btn-primary btn-lg btn-block"></p>
    </form>
    </div>
    </div>


{% endblock %}
