{% extends 'kirokubo/base.html' %}

{% block body %}
    <div class="row">
    <div class="col-lg-3 m-3">
    <div class="card">
  <div class="card-header">
    <span class="oi oi-pencil"></span> 業務
  </div>
  <div class="card-body">
    <h5 class="card-title">なんでも記録する</h5>
    <form action="{% url 'kirokubo_index' %}" method="POST">
        <p><input type="submit" value="登録" style="font-size:40px" class="btn btn-primary btn-lg btn-block"></p>
        {% csrf_token %}
        {{ArticleForm.as_p}}
        <p><input type="submit" value="登録" style="font-size:140px" class="btn btn-primary btn-lg btn-block"></p>
    </form>
  </div>
</div>

</div>
<div class="col-lg-8 m-3">
    <div class="card">
  <div class="card-header">
    <span class="oi oi-list"></span> 業務リスト   <span  class="text-right"><span class="oi oi-bullhorn"></span>今日の電話対応：{{tel_count}}件</span> 
  </div>
  <div class="card-body">
{% comment %} ページ移動 {% endcomment %}
<div class="pagenation">
  {% if data.has_previous %}
    <a href="{% url 'kirokubo_index' %}">&laquo;first</a>
    <a href="{% url 'kirokubo_index' %}{{data.previous_page_number}}">&laquo;prev</a>
  {% endif %}
  <span class="current">
    [{{data.number}}/{{data.paginator.num_pages}}]
  </span>
  {% if data.has_next %}
    <a href="{% url 'kirokubo_index' %}{{data.next_page_number}}">next&raquo;</a>
    <a href="{% url 'kirokubo_index' %}{{data.paginator.num_pages}}">last&raquo;</a>
  {% endif %} 
</div>

<table class="table table-striped">
<thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>TEL</th>
        <th>重要度</th>
        <th>月日</th>
        <th>曜日</th>
        <th>時</th>
        {% comment %} <th>業務時間（分）</th> {% endcomment %}
        <th>カテゴリ</th>
        <th>タイトル</th>
        <th>内容</th>
        <th><span class="oi oi-person"></span>入力者</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}

    <tr 
    {% if item.importance_level == 5 %}
        class="p-3 mb-2 bg-danger text-white"   
    {% endif %}
    >
        <td>{{item.id}}</td>
        <td>{{item.tel | yesno:'TEL,'}}</td>
        <td><span class="badge badge-pill badge-info">{{item.importance_level}}</span></td>
        <td>{{item.start_at|date:"m/j"}}</td>
        <td>{{item.start_at | date:'D'}}</td>
        <td>{{item.start_at|date:"H:i"}}</td>
        {% comment %} <td>{% datetime(item.end_at) - datetime(item.start_at) %}</td> {% endcomment %}
        <td>{{item.category}}</td>
        <td>{{item.title}}</td>
        <td>{{item.content | truncatechars:20 }}</td>
        <td>{{item.name}}</td>
        <td><a href="{% url 'kirokubo_edit' item.id %}" class="btn btn-light">編集</a></td>
    </tr>
    {% endfor %}
        </tbody>
</table>
</div>
</div>
</div>
{% endblock %}
