{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'kirokubo/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'kirokubo/css/style.css' %}" >
    <title>Document</title>
</head>
<body>
    <div class="container-fluid m-3">
{% block body %}
{% endblock %}

<footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>

</div>
</body>
</html>