{% extends 'kirokubo/base.html' %}

{% block body %}
    <h1>投稿編集</h1>
    {{message}}
    <div class="row">
            <div class="col-12">
    <table>
    <form action="{% url 'edit' id %}" method="POST">
        {% csrf_token %}
        {{form.as_table}}
        <tr><td></td><td><input type="submit" value="登録" style="font-size:140px"></td></tr>
    </form>
</table>
</div>
</div>
{% endblock %}
