{% extends 'kirokubo/base.html' %}

{% block body %}
    {% comment %} <h1>投稿</h1>
    {{message}} {% endcomment %}
    <div class="row">
    <div class="col-4 m-3">
    <div class="card">
  <div class="card-header">
    投稿
  </div>
  <div class="card-body">
    <h5 class="card-title">なんでも記録する</h5>

    <table>
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        {{ArticleForm.as_table}}
        <tr><td></td><td><input type="submit" value="登録" style="font-size:140px" class="btn btn-primary"></td></tr>
    </form>
</table>

  </div>
</div>

</div>
<div class="col-7 m-3">
    <div class="card">
  <div class="card-header">
    投稿リスト
  </div>
  <div class="card-body">
<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>重要度</td>
        <td>日時</td>
        <td>カテゴリ</td>
        <td>タイトル</td>
        <td>内容</td>
        <td>入力者</td>
        <td>操作</td>

    </tr>
    {% for item in data %}

    <tr 
    {% if item.importance.importance_level == 5 %}
        class="p-3 mb-2 bg-danger text-white"   
    {% endif %}
    >
        <td>{{item.id}}</td>
        <td><span class="badge badge-pill badge-info">{{item.importance}}</span></td>
        <td>{{item.created_at}}</td>
        <td>{{item.cate}}</td>
        <td>{{item.title}}</td>
        <td>{{item.content | truncatechars:30 }}</td>
        <td>{{item.member}}</td>
        <td><a href="{% url 'edit' item.id %}" class="btn btn-light">編集</a></td>
    </tr>
    {% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}
