body{
    /* color: red; */
    /* font-size: 13px; */
}

.navbar-brand{
    font-size: 40px;
}

.width100{
    width: 100%;
    /* font-size: 520px; */
}

a {
    font-weight:bold;
    text-decoration:none;
}